<div class="container">
  <div class="row">
    <div class="view-header-home">
      <span><%= t "demand_good" %></span>
    </div>
    <div class="col-sm-6 more">
      <%= link_to "Xem thêm >>", "#" %>
    </div>
  </div>
  <div class="row">
    <%= render "demands/demand_intr" %>
  </div>
</div>
</div>
