<div class="col-md-9 col-sm-12" style="padding:0 !important;">
  <div class="left-class-create bla-common-shadow" style="margin:unset;">
    <div class="header-form">
      <h2 style="margin: 0;font-size: 24px;"><%= t "change_demand" %></h2>
    </div>
    <%= render "form_demand" %>
  </div>
</div>

