<div class="col-md-9 col-sm-12" style="padding:0 !important;">
  <div class="left-class-create bla-common-shadow" style="margin:unset;">
    <div class="header-form">
      <h2 style="margin: 0;font-size: 24px;">Mô tả yêu cầu tìm gia sư</h2>
    </div>
    <div class="group-row">
      <div class="row">
        <div class="col-md-12">
          <div class="class-field-1 class-field">
            <p style="text-align: justify;line-height:1.8;font-size:15px;">
              <%= t "intr_demand" %><br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <%= render "form_demand" %>
  </div>
</div>

