<footer class="main-footer">
  <strong><%= t "footer" %></strong>
  <strong><%= t "logo" %></strong><br>
  <strong><%= t "addr" %></strong>

  <div class="float-right d-none d-sm-inline-block">
    <b><%= t "tcgd" %></b>
  </div>
</footer>
